* {
    background-image: none;
    box-shadow: none;
}

window {
    /* Fundo Background (#282a36) com 90% de opacidade */
    background-color: rgba(40, 42, 54, 0.9);
}

button {
    /* Fundo Current Line / Selection (#44475a) */
    background-color: #44475a;


    /* Estilo Dracula */
    border: none;
    border-radius: 24px;
    outline-style: none;
    margin: 10px;

    /* Config dos ícones */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

/* --- Ações Seguras (Acento Purple) --- */
#lock:focus, #lock:active, #lock:hover,
#suspend:focus, #suspend:active, #suspend:hover,
#hibernate:focus, #hibernate:active, #hibernate:hover {
    background-color: #bd93f9; /* Purple */
}

/* --- Ação de Aviso (Orange) --- */
#logout:focus, #logout:active, #logout:hover {
    background-color: #ffb86c; /* Orange */
}

/* --- Ações Destrutivas (Red) --- */
#shutdown:focus, #shutdown:active, #shutdown:hover,
#reboot:focus, #reboot:active, #reboot:hover {
    background-color: #ff5555; /* Red */
}


/* --- Definições dos Ícones ---
 * (Presume que estão em ~/.config/wlogout/assets/)
 */
#lock {
    background-image: image(url("assets/lock.svg"));
}

#logout {
    background-image: image(url("assets/logout.svg"));
}

#suspend {
    background-image: image(url("assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("assets/reboot.svg"));
}